* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
}

/* Navigation */
.nav {
    width: 1200px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 172px;
}

.nav img {
    width: 160px;
    margin-top: -20px;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
    width: 530px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a:link, .nav-items li a:visited {
    text-decoration: none;
    cursor: pointer;
    color: #9e9e9e;
    font-weight: 700;
}

.nav-items li a:hover, .nav-items li a:active {
    text-decoration: none;
    cursor: pointer;
    color: #EB5058;
    font-weight: 700;
}

/* Page */
.bg1-container {
    background-image: url(./img/bg1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: #fff;
}

/* Section 1 */
.section1 {
    background-image: url(./img/bg-transparent.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 960px;
    margin: auto;
    margin-top: 200px;
}

.section1-elements {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.section1-elements:first-child{
    margin-top: 0;
}

.section1-h2 {
    font-family: "Oswald", sans-serif;
    font-size: 45px;
}

.section1-para {
    font-family: "Yesteryear", cursive;
    text-align: center;
    font-size: 37px;
    color: #EB5058;
}

.section1-author {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: bold;
}

/* Section 2 */

.section2 {
    background-image: url("./img/bg2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    margin-top: 220px;
}

/* Section 3 */
.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.section3-heading{
    font-size: 2.3125rem;
    font-weight: 400;
    font-family: 'Yesteryear',handwriting;
    text-transform: lowercase;
    text-align: center;
}

.section3-title {
    font-size: 2.8125rem;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-top: 30px;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1140px;
    margin-top: 70px;
}

.reviews li {
    padding: 30px;
    list-style: none;
    margin-top: 25px;
}

.review-title {
    font-family: 'Yesteryear',handwriting;
    font-size: 37px;
    font-weight: 400;
}

.review-desc {
    color: #9e9e9e;
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.8;
    font-weight: bold;
}

.reviewer {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

hr {
    margin-top: 55px;
}

/* Section 4 */
.section4 {
    background-image: url("./img/bg3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;
    margin-top: 220px;
}

/* Footer */
.footer {
    background-image: url(./img/bg4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 540px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    width: 200px;
}

.footer-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.telephone {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    color: #EB5058;
}

.address {
    font-weight: 700;
    font-size: 18px;
    margin-top: 16px;
}

.copyright {
    padding: 0 30px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright small {
    font-size: 16px;
    color: #9e9e9e;
    font-weight: 700;
}